<footer>
	<div class="container">
		<a href="https://github.com/zulfinjuliant/bootangular/archive/master.zip" type="button" class="btn btn-primary" target="_blank"><i class="fa fa-github"></i> Clone from Gihub</a>
		<a href="https://bitbucket.org" type="button" class="btn btn-primary" target="_blank"><i class="fa fa-bitbucket"></i> Clone from Bitbucket</a>
	</div>
</footer>